<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>私のプログラミング学習ブログ</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>

<h1>私のプログラミング学習ブログ</h1>

<div class="my-3">
    プログラミングで学んだことを記録していくブログ。
</div>

<img src="static/images/character_program_happy.png" alt="トップ画像" width="200" height="200"/>


<h2>最新記事</h2>

<table class="table">
    <thead>
    <tr>
        <th>投稿日</th>
        <th>キーワード</th>
        <th>タイトル</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>2022/07/11</td>
        <td><span class="badge badge-secondary">Python</span></td>
        <td><a href="articles/1.html">Pythonの小技</a></td>
    </tr>
    <tr>
        <td>2022/07/08</td>
        <td><span class="badge badge-secondary">Go</span></td>
        <td><a href="">Go面白くなってきた</a></td>
    </tr>
    <tr>
        <td>2022/07/06</td>
        <td><span class="badge badge-secondary">MySQL</span> <span class="badge badge-secondary">Python</span></td>
        <td><a href="">PythonからMySQLを使う</a></td>
    </tr>
    </tbody>
</table>

<p>
    <a href="articles/index.html">記事一覧</a>
</p>

</body>
</html>
